
<h1 style="color:#008B8B;font-family:arial;">Sign up to the Fellowship of the Ring!</h1>

<style>
  body {
    padding-top : 20px;
    padding-bottom : 20px;
    padding-left : 40px;
    background-color: #ADD8E6;
  
  }
  </style>

<form action="/insert_user_record">
<label for="yoda">Username</label>
<input id="yoda" type="text" name="input_username" placeholder="Enter username here">

<label for="windu">Password</label>
<input id="windu" type="password" name="input_password" placeholder="Enter password here">

<label for="mace">Password confirmation</label>
<input id="mace" type="password" name="input_password_confirmation" placeholder="Confirm your password">
<button>Sign up</button>

</form>
