
<h1 style="color:#008B8B;font-family:arial;">Sign In</h1>

<style>
  body {
    padding-top : 20px;
    padding-bottom : 20px;
    padding-left : 40px;
    background-color: #ADD8E6;
  
  }

</style>
<form action="/verify_credentials" method="post">
<label for="yoda">Username</label>
<input id="yoda" type="text" name="input_username" placeholder="Enter your username">

<label for="windu">Password</label>
<input id="windu" type="password" name="input_password" placeholder="Enter your password">

<button>Sign in</button>

</form>
