
<h1>Sign up to the Fellowship of the Ring!</h1>

<form action="/insert_user_record">
<label for="yoda">Username</label>
<input id="yoda" type="text" name="input_username" placeholder="Enter username here">

<label for="windu">Password</label>
<input id="windu" type="password" name="input_password" placeholder="Enter password here">

<label for="mace">Password confirmation</label>
<input id="mace" type="password" name="input_password_confirmation" placeholder="Confirm your password">
<button>Sign up</button>

</form>
